@{
    ViewBag.Title = "用户列表";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>用户列表</legend>
    <table class="tblist" width="100%">
        <tr>
            <th width="10%">用户名</th>
            <th width="8%">姓名</th>
            <th>职位</th>
            <th>公司</th>
            <th width="10%">Email</th>
            <th width="10%">电话</th>
            <th width="14%">注册时间</th>
        </tr>
        @foreach(var item in ViewBag.List){
            <tr>
                <td class="tdcenter">@(item.UserName)</td>
                <td class="tdcenter">@(item.RealName)</td>
                <td class="tdcenter">@(item.Position)</td>
                <td>@(item.Company)</td>
                <td class="tdcenter">@(item.Email)</td>
                <td class="tdcenter">@(item.Phone)</td>
                <td class="tdcenter">@(item.CreateDateTime.ToString("yyyy-MM-dd"))</td>
            </tr>
        }
    </table>
    @Html.Raw(Elco.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" }))
</fieldset>

