@model  Elco.Models.CategoryInfo
@{
    ViewBag.Title = "Classification management";
    Layout = "../Shared/_Layout.cshtml";
    bool isAdd = Controleng.Common.CECRequest.GetQueryInt("id", 0) > 0 ? false : true;

    int catId = Controleng.Common.CECRequest.GetQueryInt("catId",0);
    if(catId>0){
        Model.ParentId = catId;
    }
    
    //模板列表
    System.Data.DataTable templateTypeList = Elco.Common.EnumHelper.EnumListTable(typeof(Elco.Models.TemplateType));

}
<fieldset>
    <legend>@(isAdd ? "Add to" : "Edit")Classification</legend>
    <form method="post">
    @Html.ValidationSummary()
    @if (ViewBag.Msg != null)
    {
        <div class="success">@Html.Raw(ViewBag.Msg)</div>
    } 
    <table width="100%" align="left">
        <tr>
            <th align="right" width="50px">
                Classification：
            </th>
            <td>@Html.Action("RenderCategoryDropdown", "Category", new { name = "ddlCat", selectedValue = Model.ParentId })&nbsp;&nbsp;<a href="list">Returns a list of</a>
            </td>
        </tr>
        <tr>
            <th align="right">
                Name：
            </th>
            <td>@Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">
                Description：
            </th>
            <td>
                @Html.TextAreaFor(m => m.Introduction, new { style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <th align="right">
                Template：
            </th>
            <td>
                <select id="TemplateType" name="TemplateType">
                    @if (templateTypeList != null && templateTypeList.Rows.Count > 0)
                    {
                        foreach(System.Data.DataRow dr in templateTypeList.Rows){
                            <text><option value="@(Convert.ToInt32(dr[1]).ToString())" @Html.Raw(Convert.ToInt32(dr[1]) == Model.TemplateType ? "selected=\"selected\"" : "")>@(dr[0].ToString())</option></text>
                        }
                    }                    
                </select>
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">
                Attribute：
            </th>
            <td>
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Sorting</a></li>
                        <li><a href="#tabs-2">English alias</a></li>
                        <li><a href="#tabs-3">Quick links</a></li>
                        <li><a href="#tabs-4">Class pictures</a></li>
                        <li><a href="#tabs-5">Banner picture</a></li>
                        <li><a href="#tabs-6">Other</a></li>
                    </ul>
                    <div id="tabs-1">
                        <table>
                            <tr>
                                <th align="right">
                                    Sorting：
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.Sort)<span class="tip">Numerical value is small, the more forward position</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-2">
                        <table>
                            <tr>
                                <th align="right">
                                    English alias:
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.Alias)<span class="tip">Alias cannot appear“/”Or spaces，If there is more than a word，Use“-”Separate</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-3">
                        <table>
                            <tr>
                                <th align="right">
                                    Quick links：
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.LinkUrl, new { style = "width:300px" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-4">
                        <table>
                            <tr>
                                <th align="right">
                                    Class pictures：
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.ImageUrl, new { style = "width:300px" })&nbsp;&nbsp;<a href="javascript:_GLOBAL.openWindow('/Pagesadmin/Home/UploadImage?obj=ImageUrl',400,100,200);">Upload a picture</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-5">
                        <table>
                            <tr>
                                <th align="right">
                                    Banner picture：
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.BannerAdImageUrl, new { style = "width:300px" })<span class="tip">Only for the root category of useful</span><a
                                        href="javascript:_GLOBAL.openWindow('/Pagesadmin/Home/UploadImage?obj=BannerAdImageUrl',400,100,200);">Upload a picture</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-6">
                        @Html.CheckBoxFor(m => m.IsEnabled)Whether to enable（<font color="red">If disabled, it does not appear in the foreground</font>）<br />
                @Html.CheckBoxFor(m => m.IsDeleted)Do you want to delete（<font color="red">Delete, you can restore</font>）<br />
                @Html.CheckBoxFor(m => m.IsShowFirstChildNode)Whether to display the first child node
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
               <input type="submit" value="@(isAdd ? "Increase" : "To update")" />
            </td>
        </tr>
    </table>
    </form>
</fieldset>
@section footer{
    <script type="text/javascript">
        $(function () {
            $('#tabs').tabs();
            //设置编辑器
            _GLOBAL.initEditor('Introduction', null, 250);
        });
    </script>
}