@{
    ViewBag.Title = "The list of administrators";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>The list of administrators</legend>
    @if(ViewBag.Status != null){
        if(ViewBag.Status == "AddSuccess"){
            <text><div class="success">Added successfully!</div></text>
        }
        if(ViewBag.Status == "AddError"){
            <text><div class="error">The administrator already exists, add failed!</div></text>
        }
        if(ViewBag.Status == "DeleteSuccess"){
            <text><div class="success">Successfully deleted!</div></text>
        }
    }
    <form method="post" id="form">
        <input type="hidden" id="_action" name="_action" value="search" />
        <input type="hidden" id="_userId" name="_userId" />
        <table>
            <tr>
                <td>The user name：</td>
                <td><input type="text" id="txtUserName" name="txtUserName" /></td>
                <td><input type="submit" value="Query" id="btnSearch" /><font color="red" style="margin-left:10px">Note: [username] that is registered in the front page of the user information!</font></td>
            </tr>
        </table>
        @if(ViewBag.SearchList != null){
            <fieldset>
                <legend>The results of the query</legend>
                <table>
                @foreach(var item in ViewBag.SearchList){
                    <tr>
                        <td>@(item.Value)</td>
                        <td><a href="###" onclick="add(@(item.Key))">Add to</a></td>
                    </tr>
                }
            </table>
            </fieldset>
            
        }
        <table class="tblist">
            <tr>
                <th>The user name</th>
                <th>Add time</th>
                <th>Operation</th>
            </tr>
            @foreach(var item in ViewBag.List){
                <tr>
                    <td>@(item.UserName)</td>
                    <td>@(item.CreateDateTime.ToString("yyyy-MM-dd"))</td>
                    <td><a href="###" onclick="del(@(item.Id))">Delete</a></td>
                </tr>
            }
        </table>
    </form>
</fieldset>
@section footer{
    <script type="text/javascript">
        function del(uid) {
            if (window.confirm('Sure to delete?')) {
                $('#_action').val('delete');
                $('#_userId').val(uid);
                $('#form').submit();
            }
        }
        function add(uid) {
            if (window.confirm('Sure you want to add?')) {
                $('#_action').val('add');
                $('#_userId').val(uid);
                $('#form').submit();
            }
        }
    </script>
}

