@{
    ViewBag.Title = "list of users";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>list of users</legend>
    <table class="tblist" width="100%">
        <tr>
            <th width="10%">user name</th>
            <th width="8%">Full name</th>
            <th>Position</th>
            <th>company</th>
            <th width="10%">Email</th>
            <th width="10%">Telephone</th>
            <th width="14%">Registration time</th>
        </tr>
        @foreach(var item in ViewBag.List){
            <tr>
                <td class="tdcenter">@(item.UserName)</td>
                <td class="tdcenter">@(item.RealName)</td>
                <td class="tdcenter">@(item.Position)</td>
                <td>@(item.Company)</td>
                <td class="tdcenter">@(item.Email)</td>
                <td class="tdcenter">@(item.Phone)</td>
                <td class="tdcenter">@(item.CreateDateTime.ToString("yyyy-MM-dd"))</td>
            </tr>
        }
    </table>
    @Html.Raw(Elco.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" },1))
</fieldset>

