@model  Elco.Models.CategoryInfo
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "添加或编辑产品分类";

    //编辑使用
    int id = Controleng.Common.CECRequest.GetQueryInt("id",0);
    int catId = Controleng.Common.CECRequest.GetQueryInt("catId", 0);
    if (catId > 0)
    {
        Model.ParentId = catId;
    }

    //输出产品分类下拉列表
    var all = Elco.Services.CategoryService.ListAllSubCatById(Elco.Config.GeneralConfig.ProductRootId_EN).Where(p => p.IsDeleted == false).ToList();
    var list = new List<Elco.Models.CategoryInfo>();
    Elco.Services.CategoryService.BuildListForTree(list, all, 0);
}
<fieldset>
    <form method="post">
    @Html.ValidationSummary()
    @if (ViewBag.Msg != null)
    {
        <div class="success">@Html.Raw(ViewBag.Msg)</div>
    }
    <table width="100%">
        <tr>
            <th width="100px" align="right">
                所属分类：
            </th>
            <td>
                <select id="ddlCat" name="ddlCat">
                    <option value="0">==请选择==</option>
                    @foreach (var item in list)
                    {
                        <text><option value="@(item.Id)" @Html.Raw(Model.ParentId.Equals(item.Id) ? "selected=\"selected\"" : string.Empty)>└@(item.Name)</option></text>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th align="right">
                名称：
            </th>
            <td>@Html.TextBoxFor(m => m.Name, new { style = "width:300px" })
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">
                描述：
            </th>
            <td>
                @Html.TextAreaFor(m => m.Introduction, new { style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <th align="right">
                分类图片：
            </th>
            <td>@Html.TextBoxFor(m => m.ImageUrl, new { style = "width:300px" })&nbsp;&nbsp;<a href="javascript:_GLOBAL.openWindow('/Pagesadmin/Home/UploadImage?obj=ImageUrl',400,100,200);">上传图片</a>
            </td>
        </tr>
        @if(id == Elco.Config.GeneralConfig.ProductRootId_EN){
            <tr>
            <th align="right">
                Banner图片：
            </th>
            <td>
                 @Html.TextBoxFor(m => m.BannerAdImageUrl, new { style = "width:300px" })<span class="tip">只针对根分类有用</span><a
                                        href="javascript:_GLOBAL.openWindow('/Pagesadmin/Home/UploadImage?obj=BannerAdImageUrl',400,100,200);">上传图片</a>
            </td>
        </tr>
            <tr>
            <th align="right">
                快速链接：
            </th>
            <td>
                @Html.TextBoxFor(m => m.LinkUrl)
            </td>
        </tr>
        }
        <tr>
            <th align="right">
                排序：
            </th>
            <td>
                @Html.TextBoxFor(m => m.Sort)<span class="tip">数值越小，位置越靠前</span>
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">
                属性：
            </th>
            <td>@Html.CheckBoxFor(m => m.IsEnabled)是否启用（<font color="red">如果禁用，则在前台不显示</font>）<br />
                @Html.CheckBoxFor(m => m.IsDeleted)是否删除（<font color="red">逻辑删除，可以还原</font>）
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <a href="catlist">返回</a>&nbsp;&nbsp;<input type="submit" value="保存" />
            </td>
        </tr>
    </table>
    </form>
</fieldset>
@section footer{
    <script type="text/javascript">
        $(function () {
            $('#tabs').tabs();
            //设置编辑器
            _GLOBAL.initEditor('Introduction', null, 250);
        });
    </script>
}