@{
     Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "article management";
    var articleList = ViewBag.ArticleList;
    int catId = Controleng.Common.CECRequest.GetQueryInt("cid",0);
}
<fieldset>
    <legend>article management</legend>
    <table>
        <tr>
            <th>Select a category：</th>
            <td>
            @Html.Action("RenderCategoryDropdown", "Article", new { name = "CategoryId", selectedValue = catId })</td>
            <td><input type="button" value="Query" id="btnSearch" /></td>
            <td><a href="Create" class="btn-add">Add article</a></td>
        </tr>
    </table>
    <table width="100%" class="tblist">
        <tr>
            <th width="10%">
                Serial number
            </th>
            <th>
                Title
            </th>
            <th width="12%">
                Release time
            </th>
            <th width="10%">
                Whether to publish
            </th>
            <th width="10%">Top</th>
            <th width="10%">
                Operation
            </th>
        </tr>
        @foreach (var item in articleList)
        {
            <tr>
                <td class="tdcenter">@item.Id
                </td>
                <td style="padding-left: 5px;"><a href="@(string.IsNullOrEmpty(item.LinkUrl) ?  item.Url + "?preview" : "javascript:alert('This article set the quick links, prohibit the preview!');")" target="_blank">@(item.Title)</a>
                </td>
                <td class="tdcenter">@item.PublishDateTime.ToString("yyyy-MM-dd")
                </td>
                <td class="tdcenter" id="td_@(item.Id)">@Html.Raw(item.IsPublished ? "Published" : "<font color=\"red\">Unpublished</font>"+(string.IsNullOrEmpty(item.LinkUrl) ? "&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"setpublish("+item.Id+");\" >Release</a>" : string.Empty))</td>
                <td class="tdcenter">@Html.Raw(item.IsTop ? "<font color=\"red\">Top</font>" : "No")</td>
                <td class="tdcenter">
                    <a href="create?id=@(item.Id)" class="edit">Edit</a>
                </td>
            </tr>
        }
    </table>
    @Html.Raw(Elco.Common.PagerBarHelper.Render(articleList.PageIndex, articleList.PageSize, articleList.TotalItemCount, new { @class = "pagerbar" },1))
</fieldset>
@section footer{
    <script type="text/javascript">
        $(function () {
            $('#btnSearch').click(function () {
                var cid = parseInt($('#CategoryId').val());
                window.location.href = '?cid=' + cid;
            });
        });
        //Set the publishing
        function setpublish(id) {
            if (window.confirm('Are you sure you want to publish?')) {
                $.ajax({
                    type: 'POST',
                    data: jQuery.param({ id: id }),
                    url: 'SetPublishStatus',
                    success: function (msg) {
                        if (msg.Status) {
                            alert('Set successfully!');
                            $('#td_' + id).html('Published');
                        }
                    }
                });
            }
        }
    </script>
}
