@model Elco.Models.AttachmentInfo
@{
    ViewBag.Title = "Add or edit attachment information";
    Layout = "../Shared/_Layout.cshtml";

    bool isAdd = Controleng.Common.CECRequest.GetQueryInt("id", 0) == 0;

}
@section header{
    <!--上传附件-->
    <script src="/scripts/swfupload/swfupload.js" type="text/javascript"></script>
    <script src="/scripts/swfupload/handlers.js" type="text/javascript"></script>
    <!--上传附件-->
}
<form method="post">
<fieldset>
    <legend>@(isAdd ? "Add to" : "Edit")Annex information</legend>
    @Html.ValidationSummary()
    @if (ViewBag.Status != null)
    {
        if (ViewBag.Status)
        {
            if (isAdd)
            {
                <text><div class="success">Saved successfully! Do you want to continue?<a href="?">Yes</a>&nbsp;Or&nbsp;<a href="List">Return</a></div></text>
            }
            else
            {
                <text><div class="success">Update success!<a href="List">Return</a></div></text>
            }
        }
        else
        { 
            <text><div class="error">An unknown error occurred, please contact the system administrator!</div></text>
        }
    }
    <table width="100%">
        <tr>
            <th align="right" width="10%">
                Classification of the:
            </th>
            <td>@Html.Action("RenderCategoryDropdown", "Attach", new { name="ddlCats",selectedValue=Model.CategoryId})</td>
        </tr>
        <tr>
            <th align="right" width="10%">
                The attachment name：
            </th>
            <td>@Html.TextBoxFor(m => m.Title, new { @class = "input-long" })
            </td>
        </tr>
        <tr>
            <th align="right">File size：</th>
            <td>@Html.TextBoxFor(m => m.Size)M</td>
        </tr>
        <tr>
            <th align="right">
                The picture link：
            </th>
            <td>@Html.TextBoxFor(m => m.ImageUrl, new { @class = "input-long" })&nbsp;&nbsp;<a href="javascript:_GLOBAL.openWindow('/Pagesadmin/Home/UploadImage?obj=ImageUrl',400,100,200);">上传图片</a>
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">
                The download link：
            </th>
            <td>@Html.TextBoxFor(m => m.DownloadUrl, new { @class = "input-long" })&nbsp;&nbsp;<span class="swfuploadWrapper"><span id="swfuploadPlaceholder"></span><span id="tempFileName"></span></span><br />
            <input type="button" value="Start upload" onclick="customStartUpload();" id="btnStartUpload" />&nbsp;&nbsp;<input
                    type="button" id="btnUploadCancle" value="Cancel the upload" onclick="swfu.cancelQueue();"
                    disabled="disabled" /><span id="processbar"></span>
            </td>
        </tr>
        <tr>
            <th align="right">
                Sorting：
            </th>
            <td>@Html.TextBoxFor(m => m.Sort)
            </td>
        </tr>
        <tr>
            <th>
            </th>
            <td>
                <a href="list">Return</a>&nbsp;&nbsp;<input type="submit" value="Preservation" />
            </td>
        </tr>
    </table>
</fieldset>
</form>
@section footer{
    <script type="text/javascript">
        var swfu;
        $(function () {
            //初始化SWFUpload
            swfu = new SWFUpload({
                // Backend settings
                upload_url: "/PagesAdmin/Home/UploadSWF",
                file_post_name: "attachFile",

                // Flash file settings
                file_size_limit: "50 MB",
                file_types: "*.*", 		// or you could use something like: "*.doc;*.wpd;*.pdf",
                file_types_description: "All Files",
                file_upload_limit: 0,
                file_queue_limit: 1,

                custom_settings: {
                    cancelButtonId: "btnUploadCancle",
                    startButtionId: "btnStartUpload"
                },
                //Event Settings
                swfupload_preload_handler: preLoad,
                swfupload_load_failed_handler: loadFailed,
                file_dialog_complete_handler: fileDialogComplete,
                file_queued_handler: function fileQueued(file) {
                    document.getElementById("tempFileName").innerHTML = file.name;
                },
                upload_progress_handler: uploadProgress,
                upload_error_handler: uploadError,
                upload_success_handler: function uploadSuccess(file, serverData) {
                    try {
                        document.getElementById("DownloadUrl").value = serverData;
                    } catch (ex) {
                        this.debug(ex);
                    }
                },
                upload_complete_handler: function uploadComplete(file) {
                    if (this.getStats().files_queued === 0) {
                        document.getElementById(this.customSettings.cancelButtonId).disabled = true;
                        document.getElementById(this.customSettings.startButtionId).disabled = false;
                    }
                },

                // Button Settings
                button_text: '<span class="redText">Select the file</span>',
                button_text_style: ".redText { color: #FF0000; }",
                button_placeholder_id: "swfuploadPlaceholder",
                button_width: 60,
                button_height: 20,
                button_text_left_padding: 2,
                button_cursor: SWFUpload.CURSOR.HAND,

                // Flash Settings
                flash_url: "/scripts/swfupload/swfupload.swf",
                flash9_url: "/scripts/swfupload/swfupload_fp9.swf",

                // Debug settings
                debug: false
            });
        });
        //开始上传
        function customStartUpload() {
            if (swfu.getStats().files_queued === 0) {
                alert("First select a local file");
                return false;
            }
            document.getElementById('btnStartUpload').disabled = true;
            document.getElementById('btnUploadCancle').disabled = false;
            swfu.startUpload();
        }
    </script>
}
