@{
    ViewBag.Title = "The download list";
    Layout = "../Shared/_Layout.cshtml";
    int catId = Controleng.Common.CECRequest.GetQueryInt("catId",0);
}
<fieldset>
    <legend>The download list</legend>
    <table>
        <tr>
            <th>Select a category：</th>
            <td>@Html.Action("RenderCategoryDropdown", "Attach", new { name = "ddlCats", selectedValue = catId })</td>
            <td><input type="button" id="btnSearch" value="Query" /></td>
            <td>
                <a href="create" class="btn-add" style=" width:190px;">Add attachments information</a>
            </td>
        </tr>
    </table>
    <table width="100%" class="tblist">
        <tr>
            <th>
                Title
            </th>
            <th width="10%">File size</th>
            <th width="15%">
                Add time
            </th>
            <th width="15%">
                Operation
            </th>
        </tr>
        @foreach (var item in ViewBag.List)
        {
            <text>
            <tr>
                <td>@(item.Title)
                </td>
                <td class="tdcenter">@(item.Size)M</td>
                <td class="tdcenter">@(item.CreateDateTime.ToString("yyyy-MM-dd"))
                </td>
                <td class="tdcenter">
                    <a href="create?id=@(item.Id)">Edit</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del(@(item.Id))">Delete</a>&nbsp;&nbsp;<a href="loglist?attachId=@(item.Id)">Download log</a>
                </td>
            </tr>
            </text>
        }
    </table>
    @Html.Raw(Elco.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" },1))
</fieldset>
<form method="post" id="hiddenForm">
@Html.Hidden("action")
@Html.Hidden("Id", 0)
</form>
@section footer{
    <script type="text/javascript">
        function del(id) {
            if (window.confirm('Are you sure you want to delete?')) {
                $('#action', $('#hiddenForm')).val("del");
                $('#Id', $('#hiddenForm')).val(id);
                $('#hiddenForm').submit();
            }
        }
        $(function () {
            $('#btnSearch').click(function () {
                var cid = parseInt($('#ddlCats').val());
                window.location.href = '?catId=' + cid;
            });
        })
    </script>
}
