@{
    ViewBag.Title = "Download log";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>Download log</legend>
    <table>
        <tr>
            <td><a href="list" class="btn-add" style=" width:185px;">Return to the download list</a></td>
        </tr>
    </table>
    <table width="100%" class="tblist">
        <tr>
            <th>
                The attachment name
            </th>
            <th width="10%">Download the user</th>
            <th width="10%">Amount of Downloads</th>
            <th width="15%">Download time</th>
        </tr>
        @foreach (var item in ViewBag.List)
        {
            <text>
            <tr>
                <td>@(item.AttachTitle)</td>
                <td class="tdcenter">@(item.UserName)</td>
                 <td class="tdcenter">@(item.DownloadCount)</td>
                <td class="tdcenter">@(item.LastDownloadDateTime.ToString("yyyy-MM-dd"))</td>
            </tr>
            </text>
        }
    </table>
    @Html.Raw(Elco.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" }, 1))
</fieldset>

